<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<!--  <listener class-name="Resources.listeners"/>-->
		<listener class-name="Resources.ExtentReporterNG"/>
	</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="BasicTests.Basic2"/>
      <class name="BasicTests.Basic3"/>
      <class name="BasicTests.Basic5"/>
      <class name="BasicTests.TestNG"/>
      <!--  <class name="JIRAAPI.Jira"/> -->
      <class name="TWITTERAPI.twitter"/>
      <class name="BasicTests.Basic4XML"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
